body{
    background-color: #555c6f;
background-image: url("https://st2.depositphotos.com/9471600/12268/i/950/depositphotos_122686488-stock-photo-html-and-css-code-developing.jpg");
}


.page_header{
    position: relative;
    background: #DAF7A6;
    padding: 40px;  
    /*text-align: center;*/
    margin: 30px;
    border: 4px solid azure;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: #273746;
}  
    
 
.style_a{
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: #273746;
    float: right;
   
}
.style_a1{
    position: absolute;
    font-size: 35px;
    position: absolute;
    left: 500px;
    background: #FCF3CF;
    top: 5px;
    padding: 15px;
  
    
}

.main_div{
    border: 2px solid azure; 
    color: #273746  ;
    font-size: 30px;
    width: 400px;
    height: 450px;
    background: #DAF7A6    ;
    margin: 0 auto;
}  

img{
    width: 40%;
    background-color: white;
    border: 5px solid azure;
    margin: 10px;
}